body{
	background: url(../imagenes/musica4.jpeg);
	background-size:cover; 
}

.plantilla{
	background: url(../imagenes/portada.jpg)
}

.plantilla2{
	background-color: #343a40;
	color:silver;
	opacity: 0.8;
}

.plantilla2:hover{
	opacity: 1;
	color:white;
}

#fila{
	color:white;
}

